<!-- views/account/index.ejs -->


<% if (loggedin) { %>
  <p>Welcome, <%= accountData.account_firstname %>!</p>
<% } else { %>
  <p>Please <a href="/account/login">log in</a> to access your account.</p>
<% } %>


