<!-- views/account/register.ejs -->
<h2><%= title %></h2>

<!-- Flash message -->
<% if (messages('notice').length > 0) { %>
  <div class="flash-message"><%= messages('notice') %></div>
<% } %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>


<main class="register-container">
  <form action="/account/register" method="post" class="register-form">
    <!-- First Name -->
    <label for="accountfirstname">First Name</label>
    <input type="text" id="account_firstname" name="account_firstname" placeholder="Enter your first name" required>

    <!-- Last Name -->
    <label for="accountlastname">Last Name</label>
    <input type="text" id="account_lastname" name="account_lastname" placeholder="Enter your last name" required>

    <!-- Email -->
    <label for="accountemail">Email</label>
    <input type="email" id="account_email" name="account_email" placeholder="Enter your email" required><br>

    <!-- Password -->
    <label for="accountpassword">Password</label>
    <input type="password" id="account_password" name="account_password" placeholder="Enter your password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
    <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span> 
    
    <!-- Submit Button -->
    
    <button type="submit">Register</button>
  </form>

  <p class="login-link">
    Already have an account? <a href="/account/login">Login here</a>
  </p>
</main>
