<header>
    <span class="returntohome">
      <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <span class="myaccount">
    <a href="/account" class="myaccount">My Account</a>
</header>