<!-- /* views/errors/500.ejs  -->
<h1><%= title %></h1>
<p>Oops! Something went wrong but its not my fault its the server 😅 </p>
<img src="/images/errors/404error.jpg" alt="Funny 404 Error" style="max-width: 100%; height: auto;">
<p>Maybe try going back to <a href="/">Home</a>?</p>
